body {
    color: white;
    background-color: #181818;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: outset;
    border-width: 4px;
    font-size: 26px;
    color: white;
}

.menu-container a {
    color: white;
}


.heading {
    display: flex;
    justify-content: space-around;
    border-style: solid;
    border-width: 3px;
    font-size: 26px;
}

/* Homepage style */

.summary-container .top {
    display: flex;
    justify-content: center;
}

.title-card {
    display: flex;
    justify-content: center;
}

.quests-container {
    height: 200px;
    width: 400px;
    border-width: 3px;
    border-style: solid;
    margin: 2px;
}

.adventure-container {
    height: 200px;
    width: 400px;
    border-width: 3px;
    border-style: solid;
    margin: 2px;
}

.keywords-container {
    height: 200px;
    width: 400px;
    border-width: 3px;
    border-style: solid;
    margin: 2px;
}

.monsters-container {
    height: 200px;
    width: 400px;
    border-width: 3px;
    border-style: solid;
    margin: 2px;
}

.summary-container .bottom {
    display: flex;
    justify-content: center;
}

.save-container {
    border-style: solid;
    border-width: 4px;
    margin-top: 8px;
}

.save-heading {
    display: flex;
    justify-content: center;
    font-size: 26px;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    margin-top: 15px;
    padding-bottom: 15px;
}

.saves-table {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(0, 63, 0);
}

.dates {
    display: flex;
    justify-content: center;
    border-right-style: solid;
    width: 187px;
}

.ship-loc-save {
    display: flex;
    justify-content: center;
    border-right-style: solid;
    width: 187px;
}

.ship-act-save {
    display: flex;
    justify-content: center;
    border-right-style: solid;
    width: 187px;
}

.health-save {
    display: flex;
    justify-content: center;
    border-right-style: solid;
    width: 187px;
}

.player-save {
    display: flex;
    justify-content: center;
    border-right-style: solid;
    width: 187px;
}

.exp-save {
    display: flex;
    justify-content: center;
    border-right-style: solid;
    width: 187px;
}

.event-save {
    display: flex;
    justify-content: center;
    border-right-style: solid;
    width: 187px;
}

.defeat-saves {
    display: flex;
    justify-content: center;
    width: 187px;
}

.data-container {
    display: flex;
    justify-content: space-evenly;
    border-top-style: solid;
    border-top-width: 4px;
    font-size: 16px;
}

.date-data {
    display: flex;
    justify-content: center;
    border-right-style: solid;
    width: 187px;
}

.location-data {
    display: flex;
    justify-content: center;
    border-right-style: solid;
    width: 187px;
}

.action-data {
    display: flex;
    justify-content: center;
    border-right-style: solid;
    width: 187px;
}

.health-data {
    display: flex;
    justify-content: center;
    border-right-style: solid;
    width: 187px;
}

.player-data {
    display: flex;
    justify-content: center;
    border-right-style: solid;
    width: 187px;
}

.exp-data {
    display: flex;
    justify-content: center;
    border-right-style: solid;
    width: 187px;
}

.event-data {
    display: flex;
    justify-content: center;
    border-right-style: solid;
    width: 187px;
}

.defeat-data {
    display: flex;
    justify-content: center;
    width: 187px;
}


/* Notes style */

.table {
    display: flex;
    justify-content:space-around;
}

.table div {
    border-style: solid;
    border-width: 3px;
    width: 350px;
}

/* Quest tracker style */

.quest-heading {
    display: flex;
    justify-content: center;
    font-size: 26px;
}

.quest-list .first {
    display: flex;
    justify-content: space-around;
    border-style: solid;
    border-width: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.first-heading {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.quest-list .second {
    display: flex;
    justify-content: space-around;
    border-style: solid;
    border-width: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.second-heading {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.quest-list .third {
    display: flex;
    justify-content: space-around;
    border-style: solid;
    border-width: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.third-heading {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.subquest div {
    margin: 2px;
    width: 300px;
    height: 30px;
}

.subquest .complete {
    color: green;
}

/* Adventure Card style */

/* Journey log style */

.log-container .first {
    border-style: solid;
    border-width: 4px;
    background-color: rgb(8, 81, 8);
}


.ship {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 25px;
}

.ship-location {
    display: flex;
    justify-content: center;
}

.ship-location div {
    padding-right: 4px;
}

.last-action {
    display: flex;
}

.last-action div {
    padding-right: 4px;
}

.ship-sections .section {
    display: flex;
}

.section div {
    padding-right: 4px;
}

.command {
    display: flex;
    font-size: 16px;
}

.command div {
    padding-right: 4px;
}

.ability-cards {
    display: flex;
    font-size: 16px;
}

.ability-cards div {
    padding-right: 4px;
}

.exp {
    display: flex;
}

.exp div {
    padding-right: 4px;
}

.event-deck {
    display: flex;
}

.event-deck div {
    padding-right: 4px;
}

.defeats {
    display: flex;
}

.defeats div {
    padding-right: 4px;
}

.log-container .second {
    border-style: solid;
    border-width: 4px;
    margin-top: 4px;
    background-color: rgb(128, 0, 0);
}

.health-header {
    display: flex;
    justify-content: center;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.ship-sections {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 25px;
}

.log-container .third {
    border-style: solid;
    border-width: 4px;
    background-color: rgb(0, 151, 151);
    margin-top: 4px;
}

.player-header {
    display: flex;
    justify-content: center;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.player-container {
    display: flex;
    justify-content: space-around;
}

.player-1 {
    border-right-style: solid;
    border-right-width: 4px;
    width: 250px;
}

.player-2 {
    border-right-style: solid;
    border-right-width: 4px;
    width: 250px;
}

.player-3 {
    border-right-style: solid;
    border-right-width: 4px;
    width: 250px;
}

.player-4 {
    width: 250px;
}

.log-container .forth {
    border-style: solid;
    border-width: 4px;
    margin-top: 4px;
    background-color: rgb(62, 0, 120);
}

.misc {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* Map and Resources Style */

.map-container {
    width: 1500px;
    height: 1000px;
    border-style: outset;
}

.map-container img {
    width: 1500px;
    height: auto;
}

.resources-container {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 25px;
}

.resources-container a {
    color: white;
}